*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}

/* awesome */
.awesome {
    padding: 30px;
    
    margin: 0 auto;
}

.awesome__tittle{
    margin: 0 0 30px 0;
}

.tittle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    padding: 40px 0px 0px 0px;
    color: #000000;
    margin: 30px auto;
}

.awesome__tittle__separator {
	width: 170px;
	height: 1px;
	background-color: #EC7979;
	margin: 0 auto;
  margin-top: 40px;
}

.awesome__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.awesome__body {
    margin: 0 auto;
    width: 1170px;
height: 665px;
margin-bottom: 50px;
margin-top: 50px;
}
.awesome__header {
    margin: 0px 0px 65.72px 0px;
}

.awesome__cards {
    display: flex;
    margin: 0px -20px;
}

.awesome__column {
    flex:0 0 33% ;
    padding: 0px 20px;
}

.item-about__icon img{
    display: block;
    margin: 0 auto;
}

.item-about__icon{
    padding: 11.55px;
    margin: 65px auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #EC7979;
    display: flex;
    align-items: center;
   
}

.item-about__tittle {
  padding: 39px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
}

.item-about__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    margin: 17px 0 0px 0;
}
/* awesome end */

/* wrapper */
.tabs {
	font-family: "Open Sans";
	font-weight: 400;
	max-width: 1170px;
  width: 100%;
  margin: 50px auto 0;
  }
  
  .tabs__wrapper {}
  
  .tabs__item {
	display: none;
  }
  
  .tabs__label {
	padding: 15px 80px 0px;
	border-radius: 5px 5px 0px 0px;
	background-color: rgb(255, 255, 255);
  
	border-bottom: 1px;
	text-transform: uppercase;
	cursor: pointer;
  }
  
  .tabs__label1 {
	margin: 0 -2px 0 0;
  }
  
  
  .tabs__cards {
	width: 1170px;
	height: 540px;
	border-bottom: 1px solid rgb(255, 255, 255);
	border: 1px solid #C6CBCD;
  }
  
  #tabs__item1:checked~.tabs__cards .tabs__content1,
  #tabs__item2:checked~.tabs__cards .tabs__content2,
  #tabs__item3:checked~.tabs__cards .tabs__content3 {
	display: block;
  }
  
  #tabs__item1:checked~.tabs__label1,
  #tabs__item2:checked~.tabs__label2,
  #tabs__item3:checked~.tabs__label3 {
	border: 1px solid #C6CBCD;
	border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .tabs__content {
	display: none;
  }
  
  .cards__row {
	display: flex;
  }
  
  .cards__info-col {
	padding: 55px 30px 55px 100px;
  }
  
  .cards__pic-col img {
	width: 470px;
	height: 500px;
	padding: 0.33px;
  }
  
  
  .cards__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	margin: 0 0 48px 0;
  }
  
  .cards__text {
	font-family: 'Raleway';
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 38px 0;

  }
  
  .cards__button {
	color: #FFFFFF;
	background-color: #EC7979;
	font-weight: 600;
	line-height: 25px;
	text-transform: capitalize;
	width: 230px;
	height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .cards__button:hover {
	background: #AB4949;
	transition: all 0.3s;
  }
  
  .cards__button:active {
	background-color: #EC7979;
	box-shadow: inset 0px 0px 10px #AB4949;
  }

  
  /* pricing */

  @keyframes bounce {
    0%, 20%, 60%, 100% {
      transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
      transform: translateY(-20px);
    }
    80% {
      transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

  .pricing {
    padding: 50px;
    background-color: #F5F5F5;;
}

.pricing__body{
  width: 1170px;
 height: 800px;
 margin: 0 auto;
}

.pricing__tittle{
    margin: 0 0 30px 0;
}

.tittle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  
}

.pricing__tittle__separator {
	width: 170px;
	height: 1px;
	background-color: #EC7979;
	margin: 0 auto 20px;
}

.pricing__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    padding: 40px;
}

.vertical {
  padding: 50px 0;
}




.vertical__body {
 margin: 0px auto;
}

.vertical__row{
  display: flex;
  margin: 0px -15px;
}


.vertical__column{
 padding: 0px 15px; 
 flex: 0 1 33.333%;

}

.vertical__item:hover{
  animation: bounce 1s;
  box-shadow: 0px 14px 28px  #86878B;
}

.vertical__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  
  color: #FFFFFF;
  background: #333333;
border: 2px solid #F5F5F5;  
}

.vertical__price{
  width: 370px;
  height: 100px;
background: #333333;
border: 2px solid #F5F5F5;
padding: 25px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}

.vertical__text{
width: 370px;
height: 50px;
background: #333333;
border: 2px solid #F5F5F5;
padding: 10px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
text-align: center;
color: rgba(255, 255, 255, 0.5);


}

.vertical__points{
  width: 370px;
height: 50px;
background: #FFFFFF;
border: 2px solid #F5F5F5;
padding: 15px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #86878B;

}